$sv-primary: (
    50 : #e3e5e9,
    100 : #b9bdc8,
    200 : #8b92a3,
    300 : #5c667e,
    400 : #394563,
    500 : #162447,
    600 : #132040,
    700 : #101b37,
    800 : #0c162f,
    900 : #060d20,
    A100 : #5e80ff,
    A200 : #2b58ff,
    A400 : #0035f7,
    A700 : #002fdd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$sv-accent: (
    50 : #fce8eb,
    100 : #f7c5ce,
    200 : #f29fad,
    300 : #ec798c,
    400 : #e85c73,
    500 : #e43f5a,
    600 : #e13952,
    700 : #dd3148,
    800 : #d9293f,
    900 : #d11b2e,
    A100 : #ffffff,
    A200 : #ffd3d7,
    A400 : #ffa0a8,
    A700 : #ff8691,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sv-warm: (
    50 : #fffae4,
    100 : #fff2bb,
    200 : #ffe98e,
    300 : #ffe061,
    400 : #ffda3f,
    500 : #ffd31d,
    600 : #ffce1a,
    700 : #ffc815,
    800 : #ffc211,
    900 : #ffb70a,
    A100 : #ffffff,
    A200 : #fffcf5,
    A400 : #ffebc2,
    A700 : #ffe3a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
